/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */
#microblog-tools-post-content-wrap {
	margin-bottom: 1em;
}
#microblog-tools-post-content-wrap #microblog-tools-post-content-prompt-text {
	font-size: 1.1em;
	padding: 5px 8px;
}
#microblog-tools-widget {
	position: relative;
}
#microblog-tools-char-count {
	display: block;
	width: auto;
	float: right;
	margin: 0;
}
#microblog-tools-chars.over {
	color: red;
}
